<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<style>
body{
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    #join{
        margin-top:10%;

        margin-left:35%;

        margin-right:30%;
    }
</style>


<div id="join">

    <div class="container">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h3 class="card-title">Chat App</h3>

    <form action="/" method="POST">

    <div class="form-group">

    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" name="user" required>

    <input type="text" class="form-control" id="Room" aria-describedby="emailHelp" placeholder="Room" name="room" required>

    </div>

    <button type="submit" class="btn btn-primary" id="submit">Join</button>

    </form>

  </div>
</div>
</div>
</div>
